build/flows.json
[
    {
        "id": "f6f2187d.f17ca8",
        "type": "tab",
        "label": "DraftEnergyNode",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a57af04c326dc06f",
        "type": "modbus-client",
        "name": "SMA Data Manager M",
        "clienttype": "tcp",
        "bufferCommands": true,
        "stateLogEnabled": false,
        "queueLogEnabled": false,
        "failureLogEnabled": true,
        "tcpHost": "sma3014670833.local",
        "tcpPort": "1502",
        "tcpType": "DEFAULT",
        "serialPort": "/dev/ttyUSB",
        "serialType": "RTU-BUFFERD",
        "serialBaudrate": "9600",
        "serialDatabits": "8",
        "serialStopbits": "1",
        "serialParity": "none",
        "serialConnectionDelay": "100",
        "serialAsciiResponseStartDelimiter": "0x3A",
        "unit_id": 2,
        "commandDelay": 1,
        "clientTimeout": 1000,
        "reconnectOnTimeout": true,
        "reconnectTimeout": 2000,
        "parallelUnitIdsAllowed": true,
        "showWarnings": true,
        "showLogs": true
    },
    {
        "id": "7e9cba3cec7f654b",
        "type": "Stackhero-MySQL-Server",
        "name": "solarsite",
        "host": "localhost",
        "port": "3306",
        "tls": false,
        "database": "solarsite"
    },
    {
        "id": "3cc11d24.ff01a2",
        "type": "comment",
        "z": "f6f2187d.f17ca8",
        "name": "WARNING: please check you have started this container with a volume that is mounted to /data\\n otherwise any flow changes are lost when you redeploy or upgrade the container\\n (e.g. upgrade to a more recent node-red docker image).\\n  If you are using named volumes you can ignore this warning.\\n Double click or see info side panel to learn how to start Node-RED in Docker to save your work",
        "info": "\nTo start docker with a bind mount volume (-v option), for example:\n\n```\ndocker run -it -p 1880:1880 -v /home/user/node_red_data:/data --name mynodered nodered/node-red\n```\n\nwhere `/home/user/node_red_data` is a directory on your host machine where you want to store your flows.\n\nIf you do not do this then you can experiment and redploy flows, but if you restart or upgrade the container the flows will be disconnected and lost. \n\nThey will still exist in a hidden data volume, which can be recovered using standard docker techniques, but that is much more complex than just starting with a named volume as described above.",
        "x": 350,
        "y": 80,
        "wires": []
    },
    {
        "id": "e247128aa6c6e28f",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "DEFINE QUERY: Active power of system at PCC (W) 31249 [Grid feed-in or Power drawn]",
        "func": "msg.sequences = [\n// Item spec: Active power of system at PCC (W) \n// Monitoring: [Device: My Plant, Name: Power fed into grid] \n    { name: \"31249\", fc: 3, address: 31249, unitid: 2, quantity: 2 }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 950,
        "y": 920,
        "wires": [
            [
                "25c1d721e4d109f0"
            ]
        ]
    },
    {
        "id": "b930df10e608f304",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "8500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 1160,
        "wires": [
            [
                "e247128aa6c6e28f"
            ]
        ]
    },
    {
        "id": "178233e91bcebdc0",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "DEFINE QUERY: Current battery charge (W) 31393",
        "func": "msg.sequences = [\n// Item spec: Current battery charge (W) 31393\n    { name: \"31393\", fc: 3, address: 31393, unitid: 2, quantity: 2 }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 980,
        "wires": [
            [
                "0e1ad0a59089acc3"
            ]
        ]
    },
    {
        "id": "0526ad76bff9a44a",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "DEFINE QUERY: Current PV feed-in active power on all line conductors(W) 30775",
        "func": "msg.sequences = [\n// Item spec: Current PV feed-in active power on all line conductors(W)\n// Monitoring: [Device: My Plant, Name: Power(PV)]\n    { name: \"30775\", fc: 3, address: 30775, unitid: 2, quantity: 2 }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 930,
        "y": 860,
        "wires": [
            [
                "b137b8b740841993"
            ]
        ]
    },
    {
        "id": "0e1ad0a59089acc3",
        "type": "modbus-flex-sequencer",
        "z": "f6f2187d.f17ca8",
        "name": "Modbus SMA Data Manager",
        "sequences": [],
        "server": "a57af04c326dc06f",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1400,
        "y": 980,
        "wires": [
            [
                "fa5ec821cf295555"
            ],
            []
        ]
    },
    {
        "id": "409cee658825ae75",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 920,
        "wires": [
            [
                "e247128aa6c6e28f"
            ]
        ]
    },
    {
        "id": "47e393da0f081ac5",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "7500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 1120,
        "wires": [
            [
                "0526ad76bff9a44a"
            ]
        ]
    },
    {
        "id": "2b73c78cf8974f89",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "DEFINE QUERY: Instantaneous value: Current battery state of charge 30845",
        "func": "msg.sequences = [\n// Device: SN: 3014806955, Instantaneous value: Current battery state of charge \n    { name: \"30845\", fc: 3, address: 30845, unitid: 2, quantity: 2 }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 910,
        "y": 1100,
        "wires": [
            [
                "ca7438116eba1a59"
            ]
        ]
    },
    {
        "id": "646659c1763d7058",
        "type": "function",
        "z": "f6f2187d.f17ca8",
        "name": "DEFINE QUERY: Current battery discharge (W) 31395",
        "func": "msg.sequences = [\n// Item spec: Current battery discharge (W) 31395\n    { name: \"31395\", fc: 3, address: 31395, unitid: 2, quantity: 2 }\n];\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 1040,
        "wires": [
            [
                "a7c38ccd7be81e04"
            ]
        ]
    },
    {
        "id": "b137b8b740841993",
        "type": "modbus-flex-sequencer",
        "z": "f6f2187d.f17ca8",
        "name": "Modbus SMA Data Manager",
        "sequences": [],
        "server": "a57af04c326dc06f",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1400,
        "y": 860,
        "wires": [
            [
                "110a27805b5adb05"
            ],
            []
        ]
    },
    {
        "id": "25c1d721e4d109f0",
        "type": "modbus-flex-sequencer",
        "z": "f6f2187d.f17ca8",
        "name": "Modbus SMA Data Manager",
        "sequences": [],
        "server": "a57af04c326dc06f",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1400,
        "y": 920,
        "wires": [
            [
                "3c884e2c74d7df6d"
            ],
            []
        ]
    },
    {
        "id": "f19f9b2e07086138",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "6000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 1080,
        "wires": [
            [
                "e247128aa6c6e28f"
            ]
        ]
    },
    {
        "id": "84d72a9471eda17d",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "2500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 960,
        "wires": [
            [
                "0526ad76bff9a44a"
            ]
        ]
    },
    {
        "id": "9175c37d79576c0d",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "3500",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 1000,
        "wires": [
            [
                "e247128aa6c6e28f"
            ]
        ]
    },
    {
        "id": "ebc646ec4e87293e",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "5000",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 1040,
        "wires": [
            [
                "0526ad76bff9a44a"
            ]
        ]
    },
    {
        "id": "196d91138d04afb7",
        "type": "inject",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "10",
        "crontab": "",
        "once": true,
        "onceDelay": "0",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 250,
        "y": 860,
        "wires": [
            [
                "409cee658825ae75",
                "84d72a9471eda17d",
                "9175c37d79576c0d",
                "ebc646ec4e87293e",
                "f19f9b2e07086138",
                "47e393da0f081ac5",
                "b930df10e608f304",
                "416fe4b895a9f5a6",
                "952a45eb9aa2a0ae",
                "44a2573108f49e47",
                "0526ad76bff9a44a"
            ]
        ]
    },
    {
        "id": "416fe4b895a9f5a6",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "1750",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 1200,
        "wires": [
            [
                "178233e91bcebdc0"
            ]
        ]
    },
    {
        "id": "952a45eb9aa2a0ae",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "4250",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 1240,
        "wires": [
            [
                "646659c1763d7058"
            ]
        ]
    },
    {
        "id": "44a2573108f49e47",
        "type": "delay",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "pauseType": "delay",
        "timeout": "6750",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 460,
        "y": 1280,
        "wires": [
            [
                "2b73c78cf8974f89"
            ]
        ]
    },
    {
        "id": "c393736b49a15c9e",
        "type": "smooth",
        "z": "f6f2187d.f17ca8",
        "name": "AVG of 4",
        "property": "payload.currentPvFeedInActivePower",
        "action": "mean",
        "count": "4",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 1820,
        "y": 860,
        "wires": [
            [
                "816e01b708422c33"
            ]
        ]
    },
    {
        "id": "78839f0d369b4a44",
        "type": "smooth",
        "z": "f6f2187d.f17ca8",
        "name": "AVG of 4",
        "property": "payload.gridFeedInOrPowerDrawn",
        "action": "mean",
        "count": "4",
        "round": "",
        "mult": "single",
        "reduce": true,
        "x": 1820,
        "y": 920,
        "wires": [
            [
                "5625bf66fcebeea0"
            ]
        ]
    },
    {
        "id": "a7c38ccd7be81e04",
        "type": "modbus-flex-sequencer",
        "z": "f6f2187d.f17ca8",
        "name": "Modbus SMA Data Manager",
        "sequences": [],
        "server": "a57af04c326dc06f",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1400,
        "y": 1040,
        "wires": [
            [
                "0438bb987c2d02cf"
            ],
            []
        ]
    },
    {
        "id": "ca7438116eba1a59",
        "type": "modbus-flex-sequencer",
        "z": "f6f2187d.f17ca8",
        "name": "Modbus SMA Data Manager",
        "sequences": [],
        "server": "a57af04c326dc06f",
        "showStatusActivities": false,
        "showErrors": false,
        "showWarnings": true,
        "logIOActivities": false,
        "useIOFile": false,
        "ioFile": "",
        "useIOForPayload": false,
        "emptyMsgOnFail": false,
        "keepMsgProperties": false,
        "delayOnStart": false,
        "startDelayTime": "",
        "x": 1400,
        "y": 1100,
        "wires": [
            [
                "9aa7506944ac73b5"
            ],
            []
        ]
    },
    {
        "id": "3c884e2c74d7df6d",
        "type": "buffer-parser",
        "z": "f6f2187d.f17ca8",
        "name": "[U16, U16] -> S32",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int32be",
                "name": "gridFeedInOrPowerDrawn",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1650,
        "y": 920,
        "wires": [
            [
                "78839f0d369b4a44"
            ]
        ]
    },
    {
        "id": "110a27805b5adb05",
        "type": "buffer-parser",
        "z": "f6f2187d.f17ca8",
        "name": "[U16, U16] -> S32",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "int32be",
                "name": "currentPvFeedInActivePower",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1650,
        "y": 860,
        "wires": [
            [
                "c393736b49a15c9e"
            ]
        ]
    },
    {
        "id": "fa5ec821cf295555",
        "type": "buffer-parser",
        "z": "f6f2187d.f17ca8",
        "name": "[U16, U16] -> U32",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint32be",
                "name": "currentBatteryCharge",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1650,
        "y": 980,
        "wires": [
            [
                "5625bf66fcebeea0"
            ]
        ]
    },
    {
        "id": "0438bb987c2d02cf",
        "type": "buffer-parser",
        "z": "f6f2187d.f17ca8",
        "name": "[U16, U16] -> U32",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint32be",
                "name": "currentBatteryDischarge",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1650,
        "y": 1040,
        "wires": [
            [
                "5625bf66fcebeea0"
            ]
        ]
    },
    {
        "id": "9aa7506944ac73b5",
        "type": "buffer-parser",
        "z": "f6f2187d.f17ca8",
        "name": "[U16, U16] -> U32",
        "data": "payload",
        "dataType": "msg",
        "specification": "spec",
        "specificationType": "ui",
        "items": [
            {
                "type": "uint32be",
                "name": "currentBatteryStateOfCharge",
                "offset": 0,
                "length": 1,
                "offsetbit": 0,
                "scale": "1",
                "mask": ""
            }
        ],
        "swap1": "",
        "swap2": "",
        "swap3": "",
        "swap1Type": "swap",
        "swap2Type": "swap",
        "swap3Type": "swap",
        "msgProperty": "payload",
        "msgPropertyType": "str",
        "resultType": "keyvalue",
        "resultTypeType": "return",
        "multipleResult": false,
        "fanOutMultipleResult": false,
        "setTopic": true,
        "outputs": 1,
        "x": 1650,
        "y": 1100,
        "wires": [
            [
                "5625bf66fcebeea0"
            ]
        ]
    },
    {
        "id": "7c6ad42697bff30a",
        "type": "template",
        "z": "f6f2187d.f17ca8",
        "name": "",
        "field": "topic",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "insert into tammipuu set\ncurrentPvFeedInActivePower = {{payload.currentPvFeedInActivePower}},\ngridFeedInOrPowerDrawn = {{payload.gridFeedInOrPowerDrawn}},\ncurrentBatteryCharge = {{payload.currentBatteryCharge}},\ncurrentBatteryDischarge = {{payload.currentBatteryDischarge}},\ncurrentBatteryStateOfCharge = {{payload.currentBatteryStateOfCharge}};",
        "output": "str",
        "x": 1720,
        "y": 1260,
        "wires": [
            [
                "04248e655e1b8558",
                "d737b4a7b519a86c"
            ]
        ]
    },
    {
        "id": "50c68b271b920a4f",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "payload2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2240,
        "y": 860,
        "wires": []
    },
    {
        "id": "5625bf66fcebeea0",
        "type": "join",
        "z": "f6f2187d.f17ca8",
        "name": "Package readings",
        "mode": "custom",
        "build": "merged",
        "property": "payload",
        "propertyType": "msg",
        "key": "payload",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "5",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "",
        "reduceFixup": "",
        "x": 2230,
        "y": 1000,
        "wires": [
            [
                "7c6ad42697bff30a"
            ]
        ]
    },
    {
        "id": "816e01b708422c33",
        "type": "change",
        "z": "f6f2187d.f17ca8",
        "name": "Label as last",
        "rules": [
            {
                "t": "set",
                "p": "complete",
                "pt": "msg",
                "to": "True",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1990,
        "y": 860,
        "wires": [
            [
                "5625bf66fcebeea0"
            ]
        ]
    },
    {
        "id": "d737b4a7b519a86c",
        "type": "Stackhero-MySQL",
        "z": "f6f2187d.f17ca8",
        "server": "7e9cba3cec7f654b",
        "name": "solarsite",
        "x": 1900,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "04248e655e1b8558",
        "type": "debug",
        "z": "f6f2187d.f17ca8",
        "name": "topic",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1890,
        "y": 1380,
        "wires": []
    }
]